body, html{

    margin: 0px;
    padding: 0px;
}

.nav_link{

    text-decoration: none;
}

#nav_bar{

    align-items: center;
}

#header{

    background-image: url("../assets/portland_skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
}

/* #header::after {
    content: "";
    background-image: url("../assets/portland_skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 250px;
    opacity: .9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

#headshot{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: solid 3px white;
    border-radius: 5px;
}