body, html{

    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.nav_link{

    text-decoration: none;
}

#nav_bar{

    align-items: center;
}

#header{

    /* background-image: url("../assets/portland_skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    height: 35vh;
    display: flex;
    align-items: center;
    padding: 0;
}

#headshot{
    margin-left: auto;
    margin-right: auto;
    border: solid 3px white;
    border-radius: 5px;
    float: left;
    width: calc(100px + 15%)
}

.icon{
    float: right;
    padding: 15px;
}

.icon_div{

    float:right;
    display:block;
    width: 100%;
}

.column1 {
    width: calc(50% - 8vw);

}

.column2{
    width: calc(50% + 8vw);

}

/* @media screen and (max-width: 600px) {
    .column1, .column2 {
      width: 100%;
    }
} */

footer{

    background-color: black;
    position: absolute; 
    bottom: 0; 
    width: 100%
}


.footer_icon{

    display: inline-block;
    padding: 25px;
    
}